.Inter {
  font-family: "Inter", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.Nunito_Sans {
  font-family: "Nunito Sans", sans-serif;
}

.Nunito {
  font-family: "Nunito", sans-serif;
}

.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.Oswald {
  font-family: "Oswald", sans-serif;
}

.Open_Sans {
  font-family: "Open Sans", sans-serif;
}

.EB_Garamond {
  font-family: "EB Garamond", serif;
}

.Cormorant_Garamond {
  font-family: "Cormorant Garamond", serif;
}

.Zilla_Slab {
  font-family: "Zilla Slab", serif;
}

.Rokkitt {
  font-family: "Rokkitt", serif;
}

.Caveat {
  font-family: "Caveat", serif;
}

.Dancing_Script {
  font-family: "Dancing Script", serif;
}

