@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "./transitions.css";
@import "./fonts.css";

html {
	font-family: "Inter", sans-serif;
}

:root,
html,
body {
	overscroll-behavior: none !important;
}

:root {
	--album-view-background-color: #fff;
	--album-view-text-color: #000;
	--album-view-base-border-radius: 4px;
}
